<header class='py-6 px-6 mx-auto max-w-screen-2xl'>
  <div class='flex items-center justify-between'>
    <div class='flex flex-col gap-4'>
      <h1 class='text-4xl'>Create New Event</h1>

      <!-- Dropdown Menu -->
      <div>
        <label for='event_type' class='text-lg font-medium mb-1 block'>Event Type</label>
        <select
          id='event_type'
          name='event_type'
          form='create-event-form'
          class='px-3 py-2 border border-gray-800 rounded-md w-64'
          required
        >
          <option value='' disabled selected>Select a type</option>
          <option value='Debate'>Debate</option>
          <option value='Masterclass'>Masterclass</option>
          <option value='Roundtable'>Roundtable</option>
          <option value='Talk'>Talk</option>
          <option value='Workshop'>Workshop</option>
        </select>
      </div>
    </div>

    <!-- Return Link -->
    <a
      href='/admin/events'
      class='flex items-center gap-2 px-4 py-2 rounded-md bg-green-600 text-gray-100 h-fit self-start'
    >
      <span class='material-symbols-outlined'>arrow_back</span>
      Return to Events
    </a>
  </div>
</header>

</header>

<section class='mx-auto max-w-screen-2xl p-6'>
  <form
    id='create-event-form'
    action='/admin/events'
    method='post'
    class='grid grid-cols-2 gap-6 text-lg'
    autocomplete='off'
  >
    <div class='flex flex-col gap-2'>
      <div class='flex flex-col'>
        <label for='name'>Name</label>
        <input
          type='text'
          id='name'
          name='name'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='topics_covered'>Topics</label>
        <input
          type='text'
          id='topics_covered'
          name='topics_covered'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='start'>Start Date &amp; Time</label>
        <input
          type='datetime-local'
          id='start'
          name='start'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='building_and_room'>Location</label>
        <input
          type='text'
          id='building_and_room'
          name='building_and_room'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='curr_cap'>Current Capacity</label>
        <input
          type='number'
          id='curr_cap'
          name='curr_cap'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

    </div>

    <div class='flex flex-col gap-2'>
      <div class='flex flex-col'>
        <label for='company'>Company</label>
        <input
          type='text'
          id='company'
          name='company'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='speakers_instructors'>Speakers/Instructors</label>
        <input
          type='text'
          id='speakers_instructors'
          name='speakers_instructors'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='end'>End Date &amp; Time</label>
        <input
          type='datetime-local'
          id='end'
          name='end'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='materials_to_bring'>Materials Necessary</label>
        <input
          type='text'
          id='materials_to_bring'
          name='materials_to_bring'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='max_cap'>Maximum Capacity</label>
        <input
          type='number'
          id='max_cap'
          name='max_cap'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

    </div>

    <div class='flex flex-col gap-2 col-span-2'>
      <label class for='description_about'>About</label>
      <textarea
        form='create-event-form'
        type='text'
        id='description_about'
        name='description_about'
        class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        rows='4'
        required
      ></textarea>
    </div>

    <div class='w-fit mx-auto col-span-2'>
      <button
        form='create-event-form'
        type='submit'
        class='px-6 py-2 bg-green-600 text-gray-100 rounded-md'
      >Create Event</button>
    </div>
  </form>
</section>