<header
  class='flex items-center justify-between py-6 px-6 mx-auto max-w-screen-2xl'
>
  <h1 class='text-4xl'>Create New Participant</h1>

  <a
    href='/admin/participants'
    class='flex items-center gap-2 px-4 py-2 rounded-md bg-green-600 text-gray-100'
  >
    <span class='material-symbols-outlined'>arrow_back</span>
    Return to Participants
  </a>
</header>

<section class='mx-auto max-w-screen-2xl p-6'>
  <form
    id='create-participant-form'
    action='/admin/participants'
    method='post'
    class='grid grid-cols-2 gap-6 text-lg'
    autocomplete='off'
  >
    <div class='flex flex-col gap-4'>
      <div class='flex flex-col'>
        <label for='name'>Name *</label>
        <input
          type='text'
          id='name'
          name='name'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='institution'>Institution</label>
        <input
          id='institution'
          name='institution'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label>Interests</label>
        <div class='flex flex-wrap gap-2 mt-1'>
          {{#each (array '3D Printing' '3D Modelling' 'Artificial reality' 'Artificial Intelligence' 'Ethics' 'Virtual reality' 'Machine Learning' 'Clean tech' 'Data modelling' 'Aerospace medicine' 'Dentistry' 'Data Science' 'Telecomunications' 'Biosignals' 'Psychiatry' 'Nuclear medicine' 'Surgery' 'Neuroscience' 'Biomedical imaging' 'Cell & Tissue Engineering' 'Hardware & robotics' 'Biomaterials' 'Genetics' 'Bionic systems' 'Exoskeletons' 'Epidemics' 'Scientific writing' 'Integrative medicine') as |interest|}}
            <label class='relative cursor-pointer'>
              <input 
                type='checkbox' 
                name='interests' 
                value='{{interest}}' 
                class='peer opacity-0 absolute' 
              />
              <span class='px-4 py-1 rounded-full border border-gray-300 bg-gray-100 text-gray-600 transition peer-checked:bg-green-300 peer-checked:text-gray-900 hover:bg-green-200'>{{interest}}</span>
            </label>
          {{/each}}
        </div>
      </div>

      <div class='flex flex-col'>
        <label for='field_of_study_work_research'>Work Field</label>
        <input
          type='text'
          id='field_of_study_work_research'
          name='field_of_study_work_research'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label for='phone'>Phone</label>
        <input
          type='tel'
          id='phone'
          name='phone'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label for='website'>Website</label>
        <input
          type='text'
          id='website'
          name='website'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label for='instagram'>Instagram</label>
        <input
          type='text'
          id='instagram'
          name='instagram'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>
    </div>

    <div class='flex flex-col gap-4'>
      <div class='flex flex-col'>
        <label>Type</label>
        <div class='flex gap-4 mt-1'>
          <div class='flex items-center gap-2'>
            <input
              type='checkbox'
              id='type_attendee'
              name='type'
              value='Attendee'
              class='w-4 h-4'
            />
            <label for='type_attendee'>Attendee</label>
          </div>
          <div class='flex items-center gap-2'>
            <input
              type='checkbox'
              id='type_instructor'
              name='type'
              value='Instructor'
              class='w-4 h-4'
            />
            <label for='type_instructor'>Instructor</label>
          </div>
          <div class='flex items-center gap-2'>
            <input
              type='checkbox'
              id='type_speaker'
              name='type'
              value='Speaker'
              class='w-4 h-4'
            />
            <label for='type_speaker'>Speaker</label>
          </div>
        </div>
      </div>

      <div class='flex flex-col'>
        <label for='ticket_type'>Ticket Type *</label>
        <input
          type='text'
          id='ticket_type'
          name='ticket_type'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label>Expertise</label>
        <div class='flex flex-wrap gap-2 mt-1'>
          {{#each (array '3D Printing' '3D Modelling' 'Artificial reality' 'Artificial Intelligence' 'Ethics' 'Virtual reality' 'Machine Learning' 'Clean tech' 'Data modelling' 'Aerospace medicine' 'Dentistry' 'Data Science' 'Telecomunications' 'Biosignals' 'Psychiatry' 'Nuclear medicine' 'Surgery' 'Neuroscience' 'Biomedical imaging' 'Cell & Tissue Engineering' 'Hardware & robotics' 'Biomaterials' 'Genetics' 'Bionic systems' 'Exoskeletons' 'Epidemics' 'Scientific writing' 'Integrative medicine') as |expertise|}}
            <label class='relative cursor-pointer'>
              <input 
                type='checkbox' 
                name='expertise' 
                value='{{expertise}}' 
                class='peer opacity-0 absolute' 
              />
              <span class='px-4 py-1 rounded-full border border-gray-300 bg-gray-100 text-gray-600 transition peer-checked:bg-green-300 peer-checked:text-gray-900 hover:bg-green-200'>{{expertise}}</span>
            </label>
          {{/each}}
        </div>
      </div>

      <div class='flex flex-col'>
        <label for='current_location'>Location</label>
        <input
          type='text'
          id='current_location'
          name='current_location'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label for='email'>Email *</label>
        <input
          type='email'
          id='email'
          name='email'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
          required
        />
      </div>

      <div class='flex flex-col'>
        <label for='linkedin'>LinkedIn</label>
        <input
          type='text'
          id='linkedin'
          name='linkedin'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>

      <div class='flex flex-col'>
        <label for='facebook'>Facebook</label>
        <input
          type='text'
          id='facebook'
          name='facebook'
          class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        />
      </div>
    </div>

    <div class='flex flex-col gap-2 col-span-2'>
      <label for='biography'>Biography</label>
      <textarea
        form='create-participant-form'
        type='text'
        id='biography'
        name='biography'
        class='px-2 py-1 border border-gray-800 outline-none rounded-md'
        rows='4'
      ></textarea>
    </div>

    <div class='w-fit mx-auto col-span-2'>
      <button
        form='create-participant-form'
        type='submit'
        class='px-6 py-2 bg-green-600 text-gray-100 rounded-md'
      >Create Participant</button>
    </div>
  </form>
</section>