<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> headers}}
    <title>{{ title }}</title>
</head>

<body class="w-screen min-h-screen font-mono bg-gray-100">
    <h1 class="text-4xl text-center">Tec 2 Med - Admin</h1>
    {{{body}}}
</body>

</html>