<header class="flex items-center justify-between py-6 px-6 mx-auto max-w-screen-2xl">
	<h1 class="text-4xl">Ticket Management</h1>

	<a href="/admin/tickets/new" class="flex items-center gap-2 px-4 py-2 rounded-md bg-green-600 text-gray-100">
		<span class="material-symbols-outlined">
			add
		</span>
		Create
	</a>
</header>

<section class="flex items-center justify-between px-6 mx-auto max-w-screen-2xl mb-6">
	<form class="p-2 border border-slate-800 flex items-center">
		<div class="">
			<label for="tickets_csv">Upload Tickets CSV</label>
			<input type="file" name="tickets_csv" id="tickets_csv" accept=".csv">
		</div>
		<div>
			<button type="submit">Upload</button>
		</div>
	</form>
</section>

<section class="flex items-center justify-between px-6 mx-auto max-w-screen-2xl mb-6">

</section>